@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    margin: 0; 
    padding: 0;
    background-color: #0f1821;
    color: white;
  }

header{
    background-color: #080d11;
    padding: 15px;
}

.center_wrapper{
    text-align: center;
}
.header_wrapper{
    margin-right: 30px;
}

.Menu_Item{
    display: inline-block;
    font-family: "Open Sans";
    vertical-align: middle;
}

.eerst{
    margin-right: 40px;
}

.tweede{
    margin-left: 40px;
}

.logo{
    width: 85px;
    height: 71px;
    display: inline-block;
    vertical-align: middle
}

#API_Title{
    font-size: 24px;
    font-family: "Open Sans";
    font-weight: 400;
}

#API_explaination{
    font-family: "Open Sans";
    font-size: 100;
    font-size: 12px; 
}

.banner{
    width: 100%;
    height: 400px;
    background-image: url("../Images/Space.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: static; 
    z-index: 1;
    margin-top: -24px;
}

.kleur{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 2;
    margin: 0;
}

.banner h1{
    font-family: "Open Sans";
    font-size: 36px;
    z-index: 3;
    overflow: auto;
    text-align: center;
    padding-top: 150px;
}

.button {
    background-color: #1a5fac;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    display: block;
}

/* ---- Picture of the day ---- */
.Knoppen{
    margin-top: 30px;
}

.regel{
    width: 200px;
    display: inline-block;
    margin: auto;
}