@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    margin: 0; 
    padding: 0;
    background-color: #0f1821;
    color: white;
  }
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

header{
    background-color: #080d11;
    padding: 15px;
}

.center_wrapper{
    text-align: center;
}
.header_wrapper{
    margin-right: 30px;
}

.Menu_Item{
    display: inline-block;
    font-family: "Open Sans";
    vertical-align: middle;
}

.eerst{
    margin-right: 40px;
}

.tweede{
    margin-left: 40px;
}

.logo{
    width: 85px;
    height: 71px;
    display: inline-block;
    vertical-align: middle
}

#API_Title{
    font-size: 24px;
    font-family: "Open Sans";
    font-weight: 400;
    margin-bottom: 5px;
}

#Datum{
    font-size: 16;
    font-family: "Open Sans";
    margin-top: 0;
}

#API_explaination{
    font-family: "Open Sans";
    font-size: 12px; 
}

.banner{
    width: 100%;
    height: calc(100vh - 101px);
    /*height: 400px;*/
    background-image: url("../Images/Space.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: static; 
    z-index: 1;
    margin-top: -24px;
}

.kleur{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 2;
    margin: 0;
}

.banner h1{
    font-family: "Open Sans";
    font-size: 36px;
    z-index: 3;
    overflow: auto;
    text-align: center;
    padding-top: 150px;
}

.button {
    background-color: #1a5fac;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: auto;
    cursor: pointer;
    display: block;
}

/* ---- Picture of the day ---- */
.Knoppen{
    margin-top: 30px;
}

.regel{
    width: 150px;
    display: inline-block;
    margin: auto;
}

#API_img_id{
    width: 80%;
}


/* --------- Links & Rechts --------- */
.container {
    white-space: nowrap;
    margin: 0px auto;
    text-align: center;
    height: 100vh;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.links, .rechts {
    display: inline-block;
    margin: 30px auto 30px auto;
    width: 40%;
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align:center;

    font: 12px/1.5 Arial, sans-serif;
}

.links{
    width:45%;
    max-height: calc(100vh - 100px);  
    overflow: hidden;
}
#API_vid_id{
    width: 90%;
    height: 400px;
}
/* ------------------------------- */

/* ------------Contact------------ */
.contact-wrapper{
    background: #213344;
    height: 100%;
    width: 100%;
}

.contact-content{
    padding-top: 20px;
    width: 80%;
    margin: 0px auto;
    text-align: center;
}

.contact-content h1{
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 200;
    overflow: auto;
}
